body{
    background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}


.title h1{
display: grid;
place-content: center;
place-self: center;
border: 2px solid black;
width: 50vh;
background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
border-radius: 40px;
padding: 8px 16px;
color: aqua;
}
form{
    background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height:45vh;
   width: 85vh;
      display: grid;
      place-content: center;
      place-self: center;
      border:2px solid transparent;
      border-radius: 23px;

}
form input{
    width: 80vh;
    height: 45px;
    border: 2px solid transparent;
    border-radius:45px;
    padding: 4px 8px;
    font-size: large;
}
.button{
      display: grid;
      place-content: center;
      place-self: center;
    width: 21vh;
    border: 2px solid transparent;
    border-radius: 23px;
    height: 23px;
    margin-top: 23px;
    transform: scale(1.1);
    font-size: medium;
    background: #e76aa0;
}
.button:hover {
    background-color: #5e2b91;
    cursor: pointer;
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}

#output {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
  font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
     color: linear-gradient(90deg, rgba(34, 183, 242, 1) 0%, rgba(66, 66, 66, 1) 50%, rgba(77, 77, 75, 1) 97%, rgba(237, 221, 83, 1) 100%);
}

@media (max-width: 740px) {
   main .title h2{
    width: 80vw;
   }
   main form input{
width:80vw;
   }



}