*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background-image: url(https://wallpapers.com/images/hd/black-lion-1900-x-1200-wallpaper-nrhqqzyl6fylzvz6.jpg);
background-size: cover;
 }
.wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 420px;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
 .wrapper h1{
    text-align:center;
    position: relative;
    top: 20px;
    width: 100%;
 }
 .wrapper .user{
    width: 100%;
    height: 50px;
    margin: 30px 0;
 }
  .user input{
    width:100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255,.2);
    border-radius:40px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
  } 
  .user ::placeholder{
    color: white;
  }
  .wrapper .remember{
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;

  }
  
   .remember label input{
    accent-color:orange;
    margin-right: 3px;
   }
   .remember a {
              color:white;
              text-decoration: none;
              margin-right: 3px;
   }
   .wrapper .button input{
       width: 20%;
    position: relative;
    left: 41%;
    height: 42px;
    border: 2px solid transparent;
    border-radius: 40px;
   font-family: serif;
    font-weight: bolder;

   }
   .wrapper .new p{
      display: flex;
      justify-content: space-between;
   }
   .new p a{
       color: white;
       text-decoration:none;
       margin-right: 5px;
   }
   .remember a:hover{
       text-decoration: underline;
       cursor: pointer;
       color:orange;
       transition: 0.9ms;

   }
   .new p a:hover{
      text-decoration: underline;
       cursor: pointer;
       color:orange;
   }
.wrapper .button input:hover {
  background-color: orange;
  color: black;
  font-weight: bolder;
  font-family: serif;
  transition: all 1s linear;
  transform: scale(1.3);
  cursor: pointer;
}
.user i{
      display: flex;
      justify-content: flex-end;
      align-items: end;
      align-content: end;
      position: relative;
      bottom: 70%;
      right: 10px;
      font-size:20px;
      pointer-events: none;
}
.user input:focus + i {
  color: orange;
}